.form-container{
    background-color: #24353f;
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}
body{
    background-color: #24353f;
}
.navbar{
    background-color: #24353f;
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}
.group{
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
    
}